html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #211a1d;
}
.navbar-brand img {
  width: 5vh;
  height: 5vh;
}
.nav-item {
  font-size: 3vh;
  font-weight: bold;
}

@font-face {
  font-family: bridgersbrush;
  src: url(bridgersbrush.ttf);
}
#about {
  background-color: #f8f0fb;
}
#about h1 {
  font-family: bridgersbrush, arial, sans-serif;
  text-align: center;
  font-size: 10vw;
}
#about p {
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 2.5vw;
}
#galery {
  background-color: #cad5ca;
}
#group-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#galery_carousel {
  height: 40vw;
}
#galery_carousel img {
  height: 40vw;
}
#tours {
  background-color: #f8f0fb;

  text-align: center;
}
#tours h2 {
  font-family: bridgersbrush, arial, sans-serif;
  color: black;
  font-size: 10vw;
}
.tickets-link img:hover {
  filter: brightness(40%);
}
#concerts-btn {
  margin-top: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}
#contact {
  text-align: center;
  background-color: #cad5ca;
  margin-top: 20px;
}
